html
{
	height:100%;
	margin: 0px;
	padding: 0px;
}

body
{
	font-size: 16px;
	vertical-align: middle;
	color: #7F7F70;
	background-color: #1C1E23;
	height:100%;
	margin: 0px;
	padding: 0px;
}

#notification-sound
{
	width: auto;
}

body.small 
{
	font-size: 13px;
}

.hidden {
	display: none !important;
}

.stop-button {
	background-color: red;
}

div[onclick] {
	cursor: pointer;
}

span[onclick] {
	cursor: pointer;
}

img[onclick] {
	cursor: pointer;
}

.icon-wrapper img {
	max-height: 3rem;
	max-width: 3rem;
}

input, textarea, select {
	display: inline-block;
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
	text-align: top;
	height: 1.5rem;
}

.us-table
{
	display: table;
	width: 100%;
	user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.us-inline-table 
{
	display: inline-table;
}

.us-table-row {
	display: table-row;	
}

.us-table-cell {
	vertical-align: middle;
	display: table-cell;
	width: auto;
}

.t-left {
	text-align: left;
}

.t-right {
	text-align: right;
}

.t-center {
	text-align: center;
}

.t-justify {
	text-align: justify;
}

#searches {
	width: 3rem;
}

.all-screen
{
	height: 100%;
  	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.control-panel
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	text-align: center;
	background-color: #ffffff;
}

.control-panel-items
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-left: 1rem;
	padding-right: 1rem;
}

.control-panel label
{
	margin-right: .2rem;
	margin-left: .2rem;	
}

.control-panel input[type="text"]
{
	width: 5rem;
}

.flex-item
{
	text-align: center;	
	display: flex;
	flex-direction: column;
    justify-content: center;
}

textarea.notes
{
	width: 100%;
	height: 50vh;
}

#display-window
{	
	flex: 1;
	overflow-y: scroll;
	background-color: #1c1e23;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    justify-content: flex-start;
}

#display-window.condensed
{	
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}
	
.nowrap
{
	white-space: nowrap;
}

#queue-count {
	width: 2rem;
}

#socket-count {
	background-color: #e77a7d;
}

#socket-count.active {
	background-color: #88fca7;
}

.copy-text 
{
	position: fixed;
	left: -100vw;
	top: -100vh;
}

.button {
	color: #ffffff;
	position: relative;
	display: inline-block;
	cursor: pointer;
	border: 1px solid black;
	padding: .25rem;
	border-radius: .25rem;
	background-color: #2c6ace;
	transition: background-color 1s;
	white-space: nowrap;
}

.row-position-panel
{
	text-align: center;
	padding-right: .125rem;
	margin-top: .125rem;
	margin-bottom: .125rem;
}
.up-button
{
	margin-left: .1rem;
	box-sizing: border-box;
	display: block;
	width: 0; 
	height: .5rem; 
	margin-bottom: .25rem; 
	border-left: .3rem solid transparent;
	border-right: .3rem solid transparent;	  
	border-bottom: .5rem solid transparent;
	cursor: pointer;
}
.down-button
{
	margin-left: .1rem;
	box-sizing: border-box;
	display: block;
	width: 0; 
	height: .5rem; 
	border-top: .5rem solid transparent;
	border-left: .3rem solid transparent;
	border-right: .3rem solid transparent;	 
	cursor: pointer; 
}
.search-row:hover 
{
	background-color: #c0c0c0;
}
.search-row:hover .up-button
{
	border-bottom: .5rem solid #2c6ace;
}
.search-row:hover .up-button:hover
{
	border-bottom: .5rem solid #008000;
}
.search-row:hover .down-button:hover
{
	border-top: .5rem solid #008000;
}
.search-row:hover .down-button
{
	border-top: .5rem solid #2c6ace;
}

.add-new-search .row-position-panel
{
	display: none;
}

.button:hover
{
	background-color: #1f4c93;
}

.item-display 
{
	border-bottom: 1px solid #E9CF9F;
	vertical-align: middle;
	border-right: 1px solid #E9CF9F;
	border-left: 1px solid #E9CF9F;
	border-collapse: collapse;
	padding: .5rem;    
	padding-left: .75rem;
	position: relative;
	text-align: left;
    margin-right: auto;
    margin-left: auto;
	min-width: 90vw;
}

@media only screen and (min-width: 1300px)
{
	.item-display 
	{		
		min-width: 45vw;
		max-width: 45vw;
	}
	
	.item-mods ul
	{
		padding-left: 1rem;
		max-width: 50vw;
	}
	
	.condensed .composite-display-text 
	{
	    max-width: 25vw;
	}
	
	.condensed .detail-mod-panel
	{
	    max-width: 25vw;
	    text-align: right;
	}
}

.item-display:nth-child(odd)
{
	background-color: #22242a;
}

.searchinfo {
	position: absolute;
	top: 0px;
	right: 0px;
	display: inline-block;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	padding: .25rem;
	text-align: center;
}

#socket-count {
	width: 3rem;
}

#whisper-message {
	display: inline-block;
	position: absolute;
	top: 50vh;
	right: 50vw;
	background-color: black;
	opacity: 0;
	-webkit-transition: opacity 2s; /* Safari */
	transition: opacity 1s;
	transition-timing-function: ease-out;
	border: 1px solid #E9CF9F;
	padding: 1rem;
	border-radius: .25rem;
	color: #E9CF9F;
}

#whisper-message.active {
	-webkit-transition: opacity 0s; /* Safari */
	transition: opacity 0s;
	opacity: 1;
}

.corrupted {
	color: #b30000;
	font-weight: bold;
}

.extra-status
{
	display: inline-block;
}
.mirrored {
	color: #0073e6;
	font-weight: bold;
}

.elder
{
	color: #4b8250;
	font-weight: bold;	
}

.shaped
{
	color: #b45fff;
	font-weight: bold;	
}

.currency-img
{
	height: 1.5rem;
    vertical-align: middle;
}
.implicit-mods li {
	color: #958e87;	
    text-decoration: underline dotted;
}

.explicit-mods 
{
	color: #5476FF;
}

.veiled-mods
{
	color: #3d8cc7;
	text-shadow: 1px 1px 3px rgba(255,255,255,.35);
}

ul 
{
	display: block;
	margin-top: 0px;
	margin-bottom: 3px;
}

.item-mods
{
	padding-top: .25rem;
	padding-bottom: .25rem;
}

.item-mods ul
{
	padding-left: 1rem;
}

.item-mods ul li:hover {
	background-color: #2d3139;
}

.crafted-mods 
{
	color: #99B4FF;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}

.fractured-mods
{
	color: #A29162;
}

.data-value span.l-6L {
	border: #ff0000;
	background-color: #ffffff;
	color: #ff0000;
	padding-left: 2px;
	padding-right: 2px;
}

.mod-box {
	margin-left: .5rem;
}

.prefix {
	color: #8888FF !important;
}

.suffix {
	color: #ec7676 !important;
}

.data-value span {
	display: inline-block;
	padding: .1rem;
	margin: .1rem;
	border-radius: 5px;
	background-color: #323438;
	color: #b7b7ff;
}

.enchant-mods {
	color: #99B4FF;
}

.enchant-mods .mod-name
{
	display: none;
}

.copied {
	text-decoration: line-through;
}

.bold {
	font-weight: bold;
}

.r-Normal {
	color: #C8C8C8;
	font-weight: bold;
}

.r-Magic {
	color: #8888FF;
	font-weight: bold;
}

.r-Rare {
	color: #FFFF77;
	font-weight: bold;
}

.r-Unique {
	color: #AF6020;
	font-weight: bold;
}

.socket-link {
	color: #ffffff;
	text-shadow: 1px 1px 1px #5d5d5d;
	font-weight: bold;
}

.socket-R {
	display: inline-block;
	padding: .25rem;
	background-color: #990000;
	border-radius: 1rem;
	width: 1rem;
	text-align: center;
	color: #ffffff;
	font-weight: bold;
	border: 1px solid #000000;
}

.socket-B {
	display: inline-block;
	padding: .25rem;
	background-color: #003399;
	border-radius: 1rem;
	width: 1rem;
	text-align: center;
	color: #ffffff;
	font-weight: bold;
	border: 1px solid #000000;
}

.socket-G {
	display: inline-block;
	padding: .25rem;
	background-color: #004d00;
	border-radius: 1rem;
	width: 1rem;
	text-align: center;
	color: #ffffff;
	font-weight: bold;
	border: 1px solid #000000;
}

.socket-W {
	display: inline-block;
	padding: .25rem;
	background-color: #ffffff;
	border-radius: 1rem;
	width: 1rem;
	text-align: center;
	font-weight: bold;
	border: 1px solid #000000;
	text-shadow: none;
	color: #1C1E23;
}

.socket-A {
	display: inline-block;
	padding: .25rem;
	background-color: #000000;
	border-radius: 1rem;
	width: 1rem;
	text-align: center;
	color: #ffffff;
	font-weight: bold;
	border: 1px solid rgba(0, 0, 0, .5);
}

.ilvl {
	white-space: nowrap;
}

.v-top {
	vertical-align: top;
}

a:link {
	color: #b7b7ff;
}

a:hover {
	color: #f7f7ff;
}

a:visited {
	color: #4c4c6a;
}

.searchinfo a:visited
{	
	color: #b7b7ff;
}

.searchpart a:visited {
	color: #b7b7ff;
}

.key-header {
	border: 1px solid black;
	padding: .25rem;
}

.key-value {
	background-color: #2d3139;
	margin-left: 1rem;
	padding: .25rem;
}

.template-field.icon
 {
	display: inline-block;
	height: 3rem;
	width: 3rem;
}

.icon-wrapper 
{
	position: relative;
	display: inline-block;
    text-align: center;
}

.icon-wrapper .stack-text {
	position: absolute;
	display: inline-block;
	bottom: 5px;
	right: 5px;
	background-color: rgba(255, 255, 255, .7);
	border-radius: 5px;
	color: #000000;
	text-shadow: none;
}

.itemPopupContainer {
	text-align: center;
	display: inline-block;
	width: 40%;
	horizontal-align: center;
	position: relative;
}

.itemPopupContainer {
	text-align: center;
	display: inline-block;
	width: 40%;
	horizontal-align: center;
	position: relative;
}

#search-string-builder
{
	
}

.modal-background
{
	position: fixed;
	width: 110vw;
	height: 110vh;
	left: -5vw;
	top: -5vh;
	background-color: rgba(0,0,0,.7);
}

.modal-content-box
{
	text-align: center;
	display: inline-block;
	top: 10vh;
	left: 15vw;
	position: fixed;
	width: 70vw;
	border-radius: 1rem;
	border: 1px solid black;
	background-color: #ffffff;	
	padding: .5rem;
}

.modal-wrapper
{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
}

.modal-body
{
	min-height: 40vh;
	padding: .5rem;
}

#currency-ratios
{
	position: relative;
	text-align: center;
}
#currency-ratios .modal-content-box
{	
	position: relative;
	width: auto;t
	top: 0px;
    left: 0px;
}
.all-searches
{
	height: 60vh;
	overflow-y: scroll;
}

#all-searches-table
{
	margin-top: .5rem
}

#league, #filter-box
{
	width: 6rem;
}
.modal-header
{		
	background-color: #2c6ace;
	padding: .5rem;
    border-radius: 1rem 1rem 0px 0px;
    color: white;
    font-weight: bold;
    position: relative;    
}

.filter-panel
{
	position: absolute;
	top: .25rem;
	left: 1rem;
}

.modal-content-box .filter-panel  input[type="text"]
{
	width: 8rem;
}

.modal-content-box .us-table-cell input
{
	display: inline-block;
	margin: 0px;
	padding: 0px;
	width: 100%;
}

.modal-content-box .us-table-cell input.search-volume
{
	width: 3rem;
}
.modal-content-box select
{
	display: inline-block;
	margin: 0px;
	padding: 0px;
	width: 100%;
}

.modal-footer
{	
	display: block;
	height: 1.5rem;
	line-height: 1rem;
	background-color: #2c6ace;
	padding: .5rem;
    border-radius: 0px 0px 1rem 1rem;
    color: white;
    font-weight: bold;
}

.modal-footer .button
{
	display: inline-block;
	width: auto;
	padding: .25rem;
	margin-left: .25rem;
	margin-right: .25rem;
	
}

#currency-body-modal
{
	max-height: 70vh;
	overflow-y: scroll;
}

#currency-body-modal label
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#currency-body-modal input
{
	width: auto;
}

.search-color div
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: .5rem;
	height: 100%;
	border-left: 1px solid #E9CF9F;
	box-sizing: border-box;
	
}

.at-prefix
{
	color: #ec7676;
}

.at-suffix
{
	color: #7aaff1;
}

.item-name-plate
{
	font-size:  1.15rem;
}

.item-price
{
	color: #ffffff;
}

.item-price .default-text
{
	color: #E9CF9F;
}

.item-key-panel
{
	display: none;
}

#scroll-to-top
{
	position: fixed;
	bottom: 2rem; 
	right: 2rem; 
	display: inline-block;
	border: 1px solid #ffffff;
	padding: .5rem;
	color: #ffffff;
	background-color: rgba(0,0,0,.5);
	text-shadow: 1px 1px 1px #000000;
}

.req-str .data-value span
{
	border: 1px solid #990000; 
}
.req-int .data-value span
{
	border: 1px solid #003399; 
}
.req-dex .data-value span
{
	border: 1px solid #004d00; 
}

.composite-mod-panel
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	text-align: center;
}

.composite-display-text
{
    text-align: left;	
}

.detail-mod-panel
{
    text-align: right;
}

.outdated
{
	background-color: #0a0b0c !important;
    text-decoration: line-through !important;
	opacity: .5;
}

.not-verified
{
	background-color: #0a0b0c !important;
    text-decoration: line-through !important;
	opacity: .5;
}
.outdated .template-field
{
    text-decoration: line-through !important;
}

.display-window-wrapper .item-display.unviewed .searchinfo
{
	
	animation-duration: 3s;
	animation-name: flash-new;
	animation-iteration-count: infinite;
  	animation-direction: alternate;
}

@keyframes flash-new 
{
	from
	{
		background-color: #09111d;
	}
	to
	{
		background-color: #2d0b11;
	}
}
#auto-load + .button
{	
	background-color: #a40000;
}
#auto-load:checked + .button
{
	background-color: #008000;
}

.drop-top > .us-table-cell
{
	border-top: 5px solid red;
}

.drop-bottom > .us-table-cell
{
	border-bottom: 5px solid red;
}

.drop-down-wrapper
{
	position: relative;
	display: inline-block;
}

.drop-down + .drop-down-display
{
	box-sizing: border-box;
	display: none;
	position: absolute;
	top: 1.5rem;
	left: 0px;
	border: 1px solid black;
	background: white;
	min-width: 100%;
	max-height: 6rem;
	overflow-y: auto;
}

.drop-down:focus + .drop-down-display
{
	display: inline-block;
}

.drop-down + .drop-down-display:HOVER
{
	display: inline-block;
}

.drop-down.option-chosen + .drop-down-display
{
	display: none;
}

.drop-down-option
{
	box-sizing: border-box;
	cursor: pointer;
	text-align: left;
	padding-left: .25rem;
	padding-right: .25rem;
	border-top: 1px solid rgba(0,0,0,.5);
}

.drop-down-option:FIRST-CHILD
{
	border-top: none;
}

.drop-down-option:hover, .drop-down-option.selected
{
	background-color: rgba(0,0,0,.5);
}