.explicit-mods .to-maximum-life
{
	color: #D14E4E;
}

.explicit-mods .to-lightning-resistance
{
	color: #ADAA47;
}

.explicit-mods .to-fire-resistance
{
	color: #B97123;
}

.explicit-mods .to-cold-resistance
{
	color: #3F6DB3;
}

.explicit-mods .to-all-elemental-resistances
{
	color: #00e18d;
}

.explicit-mods .to-critical-strike-chance-while-affected-by-hatred
{
	color: #4fceff;
}

.explicit-mods .increased-movement-speed
{
	color: #0ec3ff;
}

.explicit-mods .to-chaos-resistance
{
	color: #9370db;
}

.explicit-mods .to-dexterity
{
	color: #118911;
}

.explicit-mods .to-strength
{
	color: #d00056;
}

.explicit-mods .to-intelligence
{
	color: #1d68ff;
}

.explicit-mods .to-maximum-mana
{
	color: #6196ff;
}


