html
{
	border: 1px solid red;
	height: 100%;
	box-sizing: border-box;
	overflow: hidden;
}

.overlay-window
{
	display: flex;
	flex-direction: column;
	height: 100%;
	background-color: rgba(rgba(105, 55, 55, 0.199), green, blue, alpha);
	opacity: .9;
}

.title-bar
{
	display: flex;
    min-height: 28px;
	align-items: center;
    justify-content: space-between;
	opacity: .65;
}

.price-check .title-bar
{
	opacity: .95;
}

.trade-notification
{
	display: inline-block;
	width: 2rem;
	text-align: center;
	margin-right: 2px;
}

#title-bar-btns
{
    top: auto;
    right: auto;
    position: inherit;
	padding-top: 0px;
}

#collase-btn
{
	width: 1.5rem;
	text-align: center;
}

.overlay-body
{	
	display: flex;
	height: 100%;
	background: transparent;
	overflow-x: hidden;
	overflow-y: scroll;
	position: relative;
	padding-left: 5px;
	padding-right: 5px;
}

.quick-search .overlay-body
{
	overflow-y: hidden;
}

.price-check .overlay-body
{
	background-color: rgb(37, 37, 37);
	display: block;
}

.trade-whisper-container
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex-grow: 1;
	align-items: flex-start;
	height: fit-content;
}

@media (orientation: landscape) and (min-width : 401px) and (max-height : 300px)
{
	
	.trade-whisper
	{
		margin-left: 5px;
		margin-right: 5px;
		min-width: fit-content;
		max-width: fit-content;
	}

	.trade-whisper:only-child
	{
		margin-left: auto;
		margin-right: auto;
	}

	.overlay-body
	{	
		overflow-x: auto;
		overflow-y: hidden;
		flex-wrap: nowrap;
	}

	.trade-whisper-container
	{
		flex-direction: row;
		flex-wrap: nowrap;
		margin-top: auto;
		margin-bottom: auto;
	}	
}

.overlay-body.stash-tab-highlight
{
	justify-content: center;
    text-align: center;
	display: flex;
}

.overlay-body.stash-tab-highlight .button
{
	margin-top: auto;
	margin-bottom: auto;
}

.no-scroll
{
	overflow: hidden;
}

.click-through
{
    display: flex;
    width: 100%;
}

.filter-row input[type=checkbox]
{
	display: inline-block;
    margin: 0px;
    padding: 0px;
}

.us-table.price-check-results
{
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
	height: auto;
    padding: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.price-check-amount
{
	padding-right: 2px;
	text-align: right;
}

.currency-amount
{
	padding-right: 2px;
	text-align: right;
}

.price-check .header
{
	padding-top: 5px;
	padding-bottom: 5px;
	color: white;
}

.divider-after
{
	border-bottom: 3px solid #636363;
}

.price-check .header .header-text
{
	font-size: 1rem;
}

.filters .us-table-cell
{
	padding-right: 5px;
	padding-left: 5px;
	vertical-align: middle;
}

.filters .us-table-row:nth-child(2n-1)
{
	background-color: rgb(22, 22, 22);
}

.us-table-row .us-table-cell:hover
{
	color:rgb(231, 231, 231);
}

.filter-value label
{
	display: inline-block;
}

.filter-value input
{
	display: inline-block;
	width: 3rem;
}

.filter-value input[type=text]
{
	vertical-align: top;
}

.filter-row > .us-table-cell:last-child
{
	text-align: right;
}

.filter-row.implicit-mods .filter-display-name
{
	text-decoration: underline;
}

.account-status
{
	display: block;
    padding: 1px 5px;
    margin: 1px 5px;
    border: 1px solid black;
	text-align: center;
}

.filter-current
{
	display: inline-block;
    width: 2rem;
    border: 1px solid white;
    background-color: rgb(21 21 21);
    text-align: center;
    padding: 1px;
    margin-top: auto;
    margin-bottom: auto;
    box-sizing: border-box;
}

#filters
{
	max-height: 400px;
	overflow-y: auto;
}

.us-table-row.is-corrupted
{
	background-color: #352929;
}

.us-table-row.is-mirrored
{
	background-color: #1b2132;
	text-decoration: line-through;
	color: rgb(173, 216, 230);
}

.header-text label
{
	margin-right: 1rem;
}

.quick-search-result .us-table-cell
{
	border-bottom: 2px solid rgb(46, 46, 46);
}

.quick-search-result:hover .us-table-cell
{
	border-bottom: 2px solid rgb(173, 216, 230);
}

.quick-search-result-wrapper
{
	overflow-y: scroll;
	height: calc(100% - 5rem);
}

.quick-search-controls input[type=checkbox]
{
	vertical-align: text-top;
}