html
{
	border: 1px solid red;
	height: 100%;
	box-sizing: border-box;
	overflow: hidden;
}

.overlay-window
{
	display: flex;
	flex-direction: column;
	height: 100%;
	background-color: rgba(rgba(105, 55, 55, 0.199), green, blue, alpha);
	opacity: .9;
}

.title-bar
{
	display: flex;
	opacity: .5;
	-webkit-app-region: drag;
    min-height: 28px;
	align-items: center;
    justify-content: space-between;
	opacity: .65;
}

.trade-notification
{
	display: inline-block;
	width: 2rem;
	text-align: center;
	margin-right: 2px;
}

#title-bar-btns
{
    top: auto;
    right: auto;
    position: inherit;
}

#collase-btn
{
	width: 1.5rem;
	text-align: center;
}

.overlay-body
{	
	display: flex;
	height: 100%;
	background: transparent;
	overflow-y: scroll;
}

.trade-whisper-container
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex-grow: 1;
	align-items: flex-start;
	height: fit-content;
}

.overlay-body.stash-tab-highlight
{
	justify-content: center;
    text-align: center;
	display: flex;
}

.overlay-body.stash-tab-highlight .button
{
	margin-top: auto;
	margin-bottom: auto;
}


.no-scroll
{
	overflow: hidden;
}