@font-face {
  font-family: 'FrizQuadrataITC';
  src:  url('../fonts/FrizQuadrataITC.woff2') format('woff2'),
        url('../fonts/FrizQuadrataITC.woff') format('woff');
}

html
{
	height: 100%;
	margin: 0px;
	padding: 0px;
	user-select: none;
}

html *
{
	transition: background-color 1s, opacity 1s;
}

body
{
	font-size: 14px;
	vertical-align: middle;
	color: #7F7F70;
	background-color: #1C1E23;
	height:100%;
	margin: 0px;
	padding: 0px;
	font-family: 'FrizQuadrataITC';
	background-color:rgba(3, 45, 53, 0);
}

.title-bar
{
	padding: 5px;
	-webkit-app-region: drag;
	position: relative;
	color: white;
	background: rgb(92,95,103);
	background: linear-gradient(114deg, rgba(92,95,103,1) 0%, rgba(92,95,103,1) 63%, rgba(0,0,0,1) 99%);
}

.title-bar.locked
{
	-webkit-app-region: no-drag;	
}

.no-drag
{
	-webkit-app-region: no-drag;
}
#settings-btn
{
	-webkit-app-region: no-drag;
}

#title-bar-btns
{
	-webkit-app-region: no-drag;
	position: absolute;
	top: 3px;
	right: 2px;
}

::-webkit-scrollbar 
{
    width: 12px;
}
 
::-webkit-scrollbar-track 
{	
	background-color: #c0c0c0;
}
 
::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.7);
  border: solid 1px #c0c0c0;
  border-radius: 15px;
}

.selectable
{
	user-select: text;
}

.not-selectable
{
	user-select: none;
}

li
{
	list-style: none;
}

body.font-size-10
{
	font-size: 10px;
}

body.font-size-20
{
	font-size: 11px;
}

body.font-size-30
{
	font-size: 12px;
}

body.font-size-40
{
	font-size: 13px;
}

body.font-size-50
{
	font-size: 14px;
}

body.font-size-60
{
	font-size: 15px;
}

body.font-size-70
{
	font-size: 16px;
}

body.font-size-80
{
	font-size: 17px;
}

body.font-size-90
{
	font-size: 18px;
}

body.font-size-100
{
	font-size: 19px;
}

#notification-sound
{
	width: auto;
}

.hidden 
{
	display: none !important;
}

.stop-button 
{
	background-color: red;
}

div[onclick]
{
	cursor: pointer;
}

span[onclick]
{
	cursor: pointer;
}

img[onclick] 
{
	cursor: pointer;
}

.icon-wrapper img 
{
	max-height: 3rem;
	max-width: 3rem;
}

input, textarea, select 
{
	display: inline-block;
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
	text-align: top;
	height: 1.5rem;
	vertical-align: middle;
}

.us-table
{
	display: table;
	width: 100%;
}

.us-inline-table 
{
	display: inline-table;
}

.us-table-row 
{
	display: table-row;	
}

.us-table-cell 
{
	vertical-align: middle;
	display: table-cell;
	width: auto;
}

.t-left 
{
	text-align: left;
}

.t-right 
{
	text-align: right;
}

.t-center 
{
	text-align: center;
}

.t-justify 
{
	text-align: justify;
}

#searches 
{
	width: 3rem;
}

.all-screen
{
	height: 100%;
  	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.screen-columns
{
	height: 100%;
  	min-height: 100%;
	display: flex;
	flex-direction: row;
    overflow-y: auto;
}

.control-panel
{
	padding-right: 2px;
	padding-left: 2px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	text-align: center;
	background: #ececec;
	background: linear-gradient(128deg, rgba(236,236,236,1) 0%, rgba(230,230,230,1) 41%, rgba(191,191,191,1) 99%);
}

.control-panel .button
{	
    margin-bottom: 5px;
    margin-top: 5px;
    margin-right: 3px;
}

#league-wrapper, #search-wrapper
{
	margin-left: auto;
}

#advanced-filters.control-panel
{
	justify-content: center;
	padding-top: 2px;
	padding-bottom: 2px;
	background: #b3b3b3;
	color:#1a1a1a;
}

.control-panel-items
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-left: 1px;
	padding-right: 1px;
}

.control-panel label
{
	margin-right: .2rem;
	margin-left: .2rem;	
}

.control-panel input[type="text"]
{
	width: 5rem;
}

.flex-item
{
	text-align: center;	
	display: flex;
	flex-direction: column;
    justify-content: center;
}

textarea.notes
{
	width: 100%;
	height: 50vh;
}

.display-window-wrapper
{	
	flex: 1;
	overflow-y: scroll;
	background-color: #878A8C;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    justify-content: flex-start;
    align-content: flex-start;
	background: rgb(135,138,140);
	background: linear-gradient(180deg, rgba(135,138,140,1) 0%, rgba(92,95,103,1) 54%, rgba(100,102,104,1) 99%);
}

.display-window-wrapper.condensed
{	
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

.content-pane
{
	display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

.player-joined .trade-button
{
	background-color: #3b7925;
}

#watched-display-window
{
    flex-direction: row;
	background-color: #0a1d2f;
	justify-content: center;
}

.display-window-title
{
	position: relative;
    margin-top: 3px;
    margin-bottom: 3px;
	width: 100%;
}

.display-window-title .title-text
{
	font-size: 1.25rem;
    display: inline-block;
	color: #ffffff;
	text-decoration: underline;
}

#watched-display-window .display-window-title .button
{
	margin-left: 5px;
	position: absolute;
}
	
.nowrap
{
	white-space: nowrap;
}

#queue-count 
{
	width: 1.5rem;
	text-align: center;
}

#socket-count 
{
	background-color: #e77a7d;
	text-align: center;
}

#socket-count.active 
{
	background-color: #88fca7;
}

.copy-text 
{
	position: fixed;
	left: -100vw;
	top: -100vh;
}

.button 
{
	color: #ffffff;
	position: relative;
	display: inline-block;
	cursor: pointer;
	border: 1px solid black;
	padding: .25rem;
	border-radius: .25rem;
	background-color: #2c6ace;
	white-space: nowrap;
	opacity: 1;
	transition: background-color 1s, opacity 1s;
	transition-timing-function: ease-out;
	margin: 1px;
}

.button:hover
{
	opacity: 1;
	background-color: #163669;
}

.button.approve
{
	background-color: #1a921a;
}

.button.cancel
{
	background-color: #ad5555;
}

.button.disabled
{
	opacity: .3;
}

.row-position-panel
{
	text-align: center;
	padding-right: .125rem;
	margin-top: .125rem;
	margin-bottom: .125rem;
}

.search-row:hover 
{
	background-color: #c0c0c0;
}

.add-new-search
{
	border-top: 3px solid rgba(63, 66, 70, 0.75);
	padding-bottom: .25rem;
	background-color: #c0c0c0;
}

.add-new-search .search-header-row
{
	text-shadow: 2px 2px 1px #ffffff;
}

.add-new-search .search-header-row
{
	height: 1px;
	overflow: hidden;
}

.add-new-search .row-position-panel
{
	display: none;
}

.item-display 
{
	background-color: #242527;
	vertical-align: middle;
	border-collapse: collapse;
	padding: .5rem;    
	padding-left: 1rem;
	padding-right: 1rem;
	position: relative;
	text-align: left;
    margin-right: auto;
    margin-left: auto;
	min-width: 90vw;
	max-width: 90vw;
    margin-top: 2px;
    margin-bottom: 5px;
}

#trade-whisper-display-window, #pinned-searches-display-window
{
	background: #51585f;
    justify-content: space-around;
    max-width: 25rem;
	overflow-y: scroll;	
}

.trade-whisper
{
    margin: 5px;
	margin-left: auto;
	margin-right: auto;
    flex: inherit;
    color: #bdd0e0;
	background-color: #1c1e23;
    border: 1px solid #257b6f;
    min-width: 21rem;
    max-width: 21rem;
	position: relative;
    height: fit-content;
}

.trade-whisper-wrapper
{
	padding: 5px;
}

.trade-whisper .header
{
	position: relative;
    padding: 5px;
    background: #257b6f;
}

.trade-whisper.big-trade .header
{
	position: relative;
    padding: 5px;
    background: #880101;
}

.trade-whisper.commodity-trade .header
{
	position: relative;
    padding: 5px;
    background: #4e7b12;
}

.trade-whisper .header .v-itemName
{
	font-weight: bold;
	text-decoration: underline;
}

.trade-whisper .close 
{
	position: absolute;
    top: 2px;
    right: 2px;
}

.trade-whisper .us-table
{
	text-align: left;
	display: inline-table;
	width: 96%;
	padding-top: 5px;
	padding-bottom: 5px;
}

.trade-whisper .us-table-cell
{
	padding-right: 5px;
}

.trade-whisper-button-wrapper
{
	display: flex;
	justify-content: space-between;
}

.item-display.is-corrupted
{
	background-color: #352929;
}

.item-display.is-mirrored
{
	background-color: #1b2132;
}

@media only screen and (min-width: 1300px)
{
	.item-display 
	{		
		min-width: 45%;
		max-width: 45%;
	}
	
	.item-mods ul
	{
		padding-left: 1rem;
		max-width: 50vw;
	}
	
	.condensed .composite-display-text 
	{
	    max-width: 25vw;
	}
	
	.condensed .detail-mod-panel
	{
	    max-width: 25vw;
	    text-align: right;
	}
}

.item-display.watched-item
{
	background-color: #062331;
}

.searchinfo 
{
	position: absolute;
	top: 0px;
	right: 0px;
	display: inline-block;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	padding: .25rem;
	text-align: center;
}

#socket-count 
{
	width: 3rem;
}

#whisper-message {
	display: inline-block;
	position: absolute;
	top: 50vh;
	right: 50vw;
	background-color: black;
	opacity: 0;
	-webkit-transition: opacity 2s; /* Safari */
	transition: opacity 1s;
	transition-timing-function: ease-out;
	border: 1px solid #E9CF9F;
	padding: 1rem;
	border-radius: .25rem;
	color: #E9CF9F;
}

#whisper-message.active 
{
	-webkit-transition: opacity 0s; /* Safari */
	transition: opacity 0s;
	opacity: 1;
}

.corrupted 
{
	color: #b30000;
	font-weight: bold;
}

.extra-status
{
	display: inline-block;
}

.mirrored 
{
	color: #0073e6;
	font-weight: bold;
}

.inf-elder, .elder-mod
{
	color: #4b8250;
}

.inf-shaper, .shadper-mod
{
	color: #b45fff;
}

.inf-warlord, .warlord-mod
{
	color: #bb1a1e;
}

.inf-redeemer, .redeemer-mod
{
	color: #92b8cd;
}

.inf-crusader, .crusader-mod
{
	color: #2fa3ce;
}

.inf-hunter, .hunter-mod
{
	color: #52b013;
}

.influence-mod
{
	text-decoration: underline;
}

.currency-img
{
	height: 1.5rem;
    vertical-align: middle;
}

.implicit-mods li 
{
    text-decoration: underline;
}

.scourge-mods
{
	color: #ff6e25;	
}

.implicit-mods
{
	color: #958e87;	
}

.explicit-mods 
{
	color: #5476FF;
}

.veiled-mods
{
	color: #3d8cc7;
	text-shadow: 1px 1px 3px rgba(255,255,255,.35);
}

.notable-mods .header
{	
	color: #88f;
	font-weight: bold;
    text-decoration: underline solid;
}

.notable-mods ul 
{
	list-style-type: none;
}

.notable-mods ul ul li
{
	color: rgb(119, 119, 153);
}

ul 
{
	display: block;
	margin-top: 0px;
	margin-bottom: 3px;
}

.item-mods
{
	padding-top: .25rem;
	padding-bottom: .25rem;
    min-height: 1.5rem;
}

.item-mods ul
{
	padding-left: 0px;
}

.item-mods ul li:hover 
{
	background-color: #2d3139;
}

.crafted-mods 
{
	color: #99B4FF;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}

.fractured-mods
{
	color: #A29162;
}

.data-value span.l-6L 
{
	border: #ff0000;
	background-color: #ffffff;
	color: #ff0000;
	padding-left: 2px;
	padding-right: 2px;
}

.mod-box 
{
	margin-left: .5rem;
}

.prefix 
{
	color: #8888FF !important;
}

.suffix 
{
	color: #ec7676 !important;
}

.data-value span 
{
	display: inline-block;
	padding: .1rem;
	margin: .1rem;
	border-radius: 5px;
	background-color: #323438;
	color: #b7b7ff;
}

.enchant-mods 
{
	color: #99B4FF;
}

.enchant-mods .mod-name
{
	display: none;
}

.copied 
{
	text-decoration: line-through;
	background-color: #5c5f67 !important;
}

.bold 
{
	font-weight: bold;
}

.r-Normal 
{
	color: #C8C8C8;
	font-weight: bold;
}

.r-Magic 
{
	color: #8888FF;
	font-weight: bold;
}

.r-Rare 
{
	color: #FFFF77;
	font-weight: bold;
}

.r-Unique 
{
	color: #AF6020;
	font-weight: bold;
}

.socket-link 
{
	color: #ffffff;
	text-shadow: 1px 1px 1px #5d5d5d;
	font-weight: bold;
}

.socket-R 
{
	display: inline-block;
	padding: .25rem;
	background-color: #990000;
	border-radius: 1rem;
	width: 1rem;
	text-align: center;
	color: #ffffff;
	font-weight: bold;
	border: 1px solid #000000;
}

.socket-B 
{
	display: inline-block;
	padding: .25rem;
	background-color: #003399;
	border-radius: 1rem;
	width: 1rem;
	text-align: center;
	color: #ffffff;
	font-weight: bold;
	border: 1px solid #000000;
}

.socket-G 
{
	display: inline-block;
	padding: .25rem;
	background-color: #004d00;
	border-radius: 1rem;
	width: 1rem;
	text-align: center;
	color: #ffffff;
	font-weight: bold;
	border: 1px solid #000000;
}

.socket-W 
{
	display: inline-block;
	padding: .25rem;
	background-color: #ffffff;
	border-radius: 1rem;
	width: 1rem;
	text-align: center;
	font-weight: bold;
	border: 1px solid #000000;
	text-shadow: none;
	color: #1C1E23;
}

.socket-A 
{
	display: inline-block;
	padding: .25rem;
	background-color: #000000;
	border-radius: 1rem;
	width: 1rem;
	text-align: center;
	color: #ffffff;
	font-weight: bold;
	border: 1px solid rgba(0, 0, 0, .5);
}

.ilvl 
{
	white-space: nowrap;
    font-weight: bold;
    color: #ffffff;
}

.v-top 
{
	vertical-align: top;
}

a:link 
{
	color: #b7b7ff;
}

a:hover 
{
	color: #f7f7ff;
}

a:visited 
{
	color: #4c4c6a;
}

.link
{
	color: #b7b7ff;
	text-decoration: underline;
	display: inline-block;
	cursor: pointer;
}

.link:hover
{
	color: #b7b7ff;
}

.searchinfo a:visited
{	
	color: #b7b7ff;
}

.searchpart a:visited 
{
	color: #b7b7ff;
}

.key-header 
{
	border: 1px solid black;
	padding: .25rem;
}

.key-value 
{
	background-color: #2d3139;
	margin-left: 1rem;
	padding: .25rem;
}

.template-field.icon
 {
	display: inline-block;
	height: 3rem;
	width: 3rem;
}

.icon-wrapper 
{
	position: relative;
	display: inline-block;
    text-align: center;
}

.icon-wrapper .stack-text 
{
	position: absolute;
	display: inline-block;
	bottom: 5px;
	right: 5px;
	background-color: rgba(255, 255, 255, .7);
	border-radius: 5px;
	color: #000000;
	text-shadow: none;
}

.itemPopupContainer 
{
	text-align: center;
	display: inline-block;
	width: 40%;
	horizontal-align: center;
	position: relative;
}

.itemPopupContainer 
{
	text-align: center;
	display: inline-block;
	width: 40%;
	horizontal-align: center;
	position: relative;
}

.modal-background
{
	position: fixed;
	width: 110vw;
	height: 110vh;
	left: -5vw;
	top: -5vh;
	background-color: rgba(0,0,0,.7);
}

.modal-content-box
{
	text-align: center;
	display: inline-block;
	top: 10vh;
	left: 15vw;
	position: fixed;
	width: 70vw;
	border-radius: 1rem;
	border: 1px solid black;
	background-color: #ffffff;	
	padding: .25rem;
}

.modal-content-box .modal-body {
	max-height: 70vh;
	overflow-y: scroll;
}

#settings-modal
{
	position: relative;
	text-align: center;
}

#settings-modal .us-table-cell
{	
    padding-bottom: 2px;
}

#settings-modal .modal-content-box
{	
	position: relative;
	width: auto;
    left: 0px;
}

#settings-modal .modal-body
{	
	min-height: auto;
}

.modal-wrapper
{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	text-align: center;
}

.modal-body
{
	min-height: 40vh;
	padding: .5rem;
	background-color: #e4e4e4;
}

#currency-ratios
{
	position: relative;
	text-align: center;
}
#currency-ratios .modal-content-box
{	
	position: relative;
	width: auto;
    left: 0px;
}

.modal-auto-size
{
	position: relative;
	text-align: center;
}

.modal-auto-size .modal-content-box
{	
	position: relative;
	width: auto;
	top: 1rem;
    left: 0px;
}

.modal-auto-size .modal-body
{
	min-height: auto;
}

.all-searches
{
	height: 60vh;
	overflow-y: scroll;
}

#all-searches-table
{
	margin-top: .5rem
}

#league, #filter-box
{
	width: 6rem;
}

.modal-header
{		
	background-color: #2c6ace;
	padding: .6rem;
    border-radius: 1rem 1rem 0px 0px;
    color: white;
    font-weight: bold;
    position: relative;    
}

.filter-panel
{
	position: absolute;
	top: .25rem;
	left: 1rem;
}

.modal-content-box .filter-panel  input[type="text"]
{
	width: 8rem;
}

.modal-content-box .us-table-cell input
{
	display: inline-block;
	margin: 0px;
	padding: 0px;
	width: 100%;
}

.modal-content-box .us-table-cell input.search-volume
{
	width: 3rem;
}

.modal-content-box .us-table-cell input.search-min-quant
{
	width: 3rem;
	text-align: center;
}

.modal-content-box select
{
	display: inline-block;
	margin: 0px 1px;
	padding: 0px;
	width: 100%;
	vertical-align: middle;
}

.modal-footer
{	
	display: block;
	height: 1.5rem;
	line-height: 1rem;
	background-color: #2c6ace;
	padding: .5rem;
    border-radius: 0px 0px 1rem 1rem;
    color: white;
    font-weight: bold;
}

.modal-footer .button
{
	display: inline-block;
	width: auto;
	padding: .25rem;
	margin-left: .25rem;
	margin-right: .25rem;
	
}

#currency-body-modal
{
	max-height: 70vh;
	overflow-y: scroll;
}

#currency-body-modal label
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#currency-body-modal input
{
	width: auto;
}

.search-color div
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: .5rem;
	height: 100%;
	box-sizing: border-box;
}

.at-prefix
{
	color: #ec7676;
}

.at-suffix
{
	color: #7aaff1;
}

.item-name-plate
{
	font-size:  1.15rem;
}

.item-price
{
	color: #ffffff;
}

.item-price .default-text
{
	color: #E9CF9F;
}

.item-key-panel
{
	display: none;
}

.overlay-control
{
	box-sizing: border-box;
	display: inline-block;
	border: 1px solid #ffffff;
	padding: .5rem;
	color: #ffffff;
	background-color: rgba(0,0,0,.5);
	text-shadow: 1px 1px 1px #000000;
}

.overlay-control .currency-img
{
	height: 1rem;
}

.overlay-control:hover
{
	background-color: rgba(0,0,0,.25);
}

.overlay-control #ex-ratio-tracker-fill
{
	display: none;
}

.overlay-control:hover #ex-ratio-tracker-fill
{
	display: inline-block;
}

.ex-fraction
{
	width: 1.3rem;
    display: inline-block;
}

.tab-control-panel
{
	position: fixed;
	bottom: 0rem; 
	left: 0rem; 
}

#scroll-to-top
{
	position: fixed;
	bottom: 2rem; 
	right: 2rem; 
}

.req-str .data-value span
{
	border: 1px solid #990000; 
	background-color: #990000; 
	color: #ffffff; 
}


.req-int .data-value span
{
	border: 1px solid #003399; 
	border: 1px solid #003399; 
	background-color: #003399; 
	color: #ffffff; 
}

.req-dex .data-value span
{
	border: 1px solid #004d00; 
	border: 1px solid #004d00; 
	background-color: #004d00; 
	color: #ffffff; 
}

.composite-mod-panel
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	text-align: center;
}

.composite-display-text
{
    text-align: left;	
}

.detail-mod-panel
{
    text-align: right;
}

html .all-screen .outdated
{
	background-color: #0a0b0c;
    text-decoration: line-through !important;
	opacity: .5;
}

html .all-screen .not-verified
{
	background-color: #0a0b0c;
    text-decoration: line-through !important;
	opacity: .5;
}

html .all-screen .item-display.watched-item.outdated
{
	background-color: rgb(2, 15, 21);
}

html .all-screen .item-display.watched-item.not-verified
{
	background-color: rgb(2, 15, 21);
}

html .all-screen .outdated .template-field
{
    text-decoration: line-through !important;
}

.display-window-wrapper .item-display.unviewed .searchinfo
{
	background-color:rgb(82, 5, 78);
}

.new
{
	background-color:rgb(82, 5, 78);
}

.add-new-search.us-table
{
	transition: background-color 1s;
}

.add-new-search.us-table.new
{
	animation-name: none;
	background-color:rgb(82, 5, 78);
}

@keyframes flash-new 
{
	from
	{
		background-color: rgba(109, 0, 103, 0);
	}
	to
	{
		background-color: rgb(82, 5, 78);
	}
}
#auto-load + .button
{	
	background-color: #a40000;
}
#auto-load:checked + .button
{
	background-color: #008000;
}

.drop-top > .us-table-cell
{
	border-top: 5px solid red;
}

.drop-bottom > .us-table-cell
{
	border-bottom: 5px solid red;
}

.drop-down-wrapper
{
	position: relative;
	display: inline-block;
}

.drop-down + .drop-down-display
{
	box-sizing: border-box;
	display: none;
	position: absolute;
	top: 1.5rem;
	left: 0px;
	border: 1px solid black;
	background: white;
	min-width: 100%;
	max-height: 6rem;
	overflow-y: auto;
}

.drop-down:focus + .drop-down-display
{
	display: inline-block;
}

.drop-down + .drop-down-display:HOVER
{
	display: inline-block;
}

.drop-down.option-chosen + .drop-down-display
{
	display: none;
}

.drop-down-option
{
	box-sizing: border-box;
	cursor: pointer;
	text-align: left;
	padding-left: .25rem;
	padding-right: .25rem;
	border-top: 1px solid rgba(0,0,0,.5);
}

.drop-down-option:FIRST-CHILD
{
	border-top: none;
}

.drop-down-option:hover, .drop-down-option.selected
{
	background-color: rgba(0,0,0,.5);
}

.item-filter-controls input[type=checkbox]
{
	vertical-align: middle;
}

.account-status
{
	display: inline-block;
    color: #ffffff;
    padding: .25rem;
    box-sizing: border-box;
    border-width: 1px;
}

.account-status.offline
{
	background-color: #d9534f;
    border-color: #e7908e;
}

.account-status.online
{
	background-color: #309630;
    border-color: #4dc64d;
}

.account-status.afk
{
	background-color: #C45F00;
    border-color: #ff8512;
}

.overlay-control input[type="text"] {
	width: 2.5rem;
	height: 1rem;
}

#poe-webview
{
	width: 100%;
	height: 100%;
}

#poe-search-window
{
	position: relative;
}

#trade-url-overlay
{
	position: absolute;
    top: 3rem;
    right: 4rem;
    background-color: #3c2b96;
}

table{
	height: 100%;
	padding: 0px;
	margin: 0px;
	border: none;
	border-spacing: 0px;
}
tr
{
	padding: 0px;
	margin: 0px;
}
tr:last-child
{
	height:100%;
}
td
{
	padding: 0px;
	margin: 0px;
}

.vertical-flex-box
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
}

.vertical-flex-box > div
{
	margin-right: 1rem;
}

.horizontal-flex-box
{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: start;
}

.space-between
{
	justify-content: space-between;
}

.horizontal-flex-box > div
{
	margin-right: 1rem;
}

.button .material-symbols-outlined
{
	font-size: inherit;
}

.pinned-searches, #pinned-categories {
	display: contents;
}

.pinned-search-category {
    margin: .5rem;
	margin-bottom: 0px;
    padding: .25rem;
    width: 100%;
    background-color: #242527;
    text-align: initial;
}

.pinned-search-category .us-table-row .us-table-cell:last-child {
    white-space: nowrap;
}

.w-1 {
	width: 1%;
}

.w-50 {
	width: 50%;
}

.w-100 {
	width: 100%;
}

.new-category-text {
	padding-left: .25rem;
	padding-right: .25rem;
}

#pinned-searches-display-window .button {
	line-height: 1;
}

.us-table-cell > .material-symbols-outlined {
    padding: .25rem 0;
}

#pinned-searches-display-window .expanded .expand-category .material-symbols-outlined {
	transform: rotate(90deg);
}

.expand-category {
	cursor: pointer;
}

.pinned-search-row .us-table-cell {
	border-top: 2px solid rgb(46, 46, 46);
	background-color: #44464a
}

.pinned-search-body .search-comment {	
    padding: 0px .25rem;
}

.category-name {
	font-weight: bold;
	color: #b7b7ff;	
}

.pinned-search-body .search-comment {
	color: #ffffff;
	padding-left: .25rem;
}

.auto-width {
	width: min-content;
    left: auto;
    right: auto;	
	position: relative;
}

.text-filter-row {
	padding: .25rem;
	background-color: #c0c0c0;
}

#pinned-search-modal .modal-body {
	padding: 0px;
}

.searches-table .us-table-cell {
	padding-left: .25rem;
	padding-right: .25rem;
}

.searches-table .us-table-row:nth-child(2n+1) .us-table-cell {
	background-color: #efefef;
}

#pinned-search-modal .modal-content-box {
	width: 25rem;
}
