<div class="pinned-searches">
    <poe-agg-template id="pinned-search/pinned-search-category.html"></poe-agg-template>
    <div class="pinned-search-category">
        <div class="us-table">
            <div class="us-table-row" id="add-new-pinned-category-row">
                <div class="us-table-cell w-1">
                    <span class="button" onclick="configureNewPinnedCategory()"><span class="material-symbols-outlined">add_circle</span></span>
                </div>
                <div class="us-table-cell w-100 new-category-text">Add New Category</div>
                <div class="us-table-cell w-1">
                    <label>
                        <span class="button" title="Import">
                            <span class="material-symbols-outlined">file_download</span>
                        </span>
                        <input type="file" accept=".txt" class="hidden" onchange="importPinnedCategories(this)"/>
                    </label>
                </div>
                <div class="us-table-cell w-1">
                    <span class="button" onclick="exportPinnedCategories()" title="Export">
                        <span class="material-symbols-outlined">file_upload</span>
                    </span>
                </div>
            </div>        
            <div class="us-table-row hidden" id="configure-new-pinned-category-row">
                <div class="us-table-cell">
                    <span class="button disabled"><span class="material-symbols-outlined">add_circle</span></span>
                </div>        
                <div class="us-table-cell w-100 new-category-text">
                    <input id="new-category-name" type="text" class="w-100"/>
                </div>
                <div class="us-table-cell t-right w-1">
                    <span class="button approve" onclick="approveNewCategory()"><span class="material-symbols-outlined">check_circle</span></span>
                    <span class="button cancel" onclick="cancelNewCategory()"><span class="material-symbols-outlined">cancel</span></span>
                </div>
            </div>
        </div>
    </div>
    <div class="" id="pinned-categories"></div>
</div>