<div id="trade-whisper-template" class="trade-whisper hidden">
    <div class='trade-whisper-wrapper'>
        <div class='header'>
            <div class="horizontal-flex-box">
                <div class='nowrap'>
                    <poe-var rel="priceQuantity"></poe-var>
                    <poe-var rel="priceType"></poe-var>
                </div>  
                <div>
                    <poe-var rel="itemName"></poe-var>
                    <div>
                        <poe-var rel="tab"></poe-var> <poe-var rel="position"></poe-var>
                    </div>
                </div> 
            </div>

            <input type="button" class="button close" value="X">
        </div>
        <div class="us-table">
            <div class="us-table-row">
                <div class="us-table-cell">From:</div>
                <div class="us-table-cell selectable"><poe-var rel="from"></poe-var></div>
            </div>
            <div class="us-table-row">
                <div class="us-table-cell">Timestamp:</div>
                <div class="us-table-cell">
                    <poe-var rel="league"> </poe-var> @ <poe-var rel="timestamp"></poe-var>
                </div>               
            </div>
            <div class="us-table-row highlight-buttons hidden">
                <div class="us-table-cell">Show Tab:</div>
                <div class="us-table-cell">
                    <input type="button" class="button" value="1x">
                    <input type="button" class="button" value="4x">
                </div>                
            </div>
            <div class="us-table-row">
                <div class="us-table-cell">Stash:</div>
                <div class="us-table-cell">
                    <poe-var rel="tab"></poe-var> <poe-var rel="position"></poe-var>
                </div>
            </div>
        </div>
        <div class='trade-whisper-button-wrapper'>
            <span><input type="button" class="button" value="Wait"></span>
            <span><input type="button" class="button" value="Want?"></span>
            <span><input type="button" class="button" value="Sold"></span>
            <span><input type="button" class="button" value="Invite"></span>
            <span><input type="button" class="button" value="Trade"></span>
            <span><input type="button" class="button" value="Thx"></span>
            <span><input type="button" class="button" value="Kick"></span>
        </div>
    </div>
</div>